<div class="container-fluid">
    <div class="row">
        <h1>Usuarios</h1>
        <hr>
        <div class="col-xs-12 col-md-3 well">
            <h2>Filtrar</h2>
            <p><b><span class="glyphicon glyphicon-user"></span>Nombre:</b> <br> <input ng-model="$ctrl.query.name" /></p>
            <p><b><span class="glyphicon glyphicon-star-empty"></span>Username:</b> <br> <input ng-model="$ctrl.query.username" /></p>
        </div>
        <div class="col-xs-12 col-md-9">
            <p class="text-right">
                <b>Ordenar por</b>
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Nombre ASC</option>
                    <option value="-name">Nombre DESC</option>
                    <option value="username">Username ASC</option>
                    <option value="-username">Username DESC</option>
                </select>
                <span>Total usuarios: {{$ctrl.users.length}}</span>
            </p>
            <hr>
            <div class="well" ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                <p><b> <span class="glyphicon glyphicon-user"></span> Nombre: </b>{{user.name}}</p>
                <p><b> <span class="glyphicon glyphicon-star-empty"></span> Username: </b>{{user.username}}</p>
            </div>
        </div>
    </div>
</div>

    